@charset "utf-8";
/* CSS Document */
div#out{

	width:1024px;
	height:1000px;
	background-color:#99F;

}
div#login{
	width:1024px;
	height:32px;
	background-image:url(../image/login32px.jpg);
	position:relative;
	
}
div#login input{
	width:85px;
	height:15px;	
}
div#login.u_name{
	position:relative;
	margin-left:716px;
	margin-top:6px;

}
div#login.p_word{
	position:relative;
	margin-left:835px;
	margin-top:6px;

}
div#login.submit{
	position:relative;
	margin-left:927px;
	margin-top:6px;	

}
div#login.reg{
	position:relative;
	margin-left:987px;
	margin-top:6px;

}
div#logo{
	width:1024px;
	height:191px;
	background-image:url(../image/logo191px.jpg);
}
div#content{
	width:1024px;
	height:772px;
	background-image:url(../image/content772.jpg);
}